body #wrapper {
  box-sizing: border-box;
}
body #wrapper #floating_box {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  display: inline-block;
  height: 441px;
  left: unset;
  padding: 51px 0px 0px 66px;
  position: fixed;
  right: 376px;
  top: 193px;
  width: 406px;
  z-index: 10;
}
body #wrapper #floating_box h3 {
  color: #333333;
  font: normal normal 700 40px/45px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 240px;
}
body #wrapper #floating_box p {
  color: #333333;
  font: normal normal 400 16px/22px 'Proxima Nova';
  letter-spacing: 0.3px;
  margin: 0px;
  padding: 12px 0px 0px 0px;
  width: 270px;
}
body #wrapper #floating_box button {
  background-color: #05AAE1;
  border-radius: 2px;
  border: 0px;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  color: #FFFFFF;
  font: normal normal 700 16px/16px 'Proxima Nova';
  height: 65px;
  letter-spacing: 0.6px;
  margin-top: 35px;
  text-align: center;
  width: 271px;
}
body #wrapper #container {
  width: 1440px;
  margin: auto;
  position: relative;
}
body #wrapper #container header {
  background-color: #272634;
  height: 42px;
  position: relative;
}
body #wrapper #container header p {
  color: #FFFFFF;
  font: normal normal 200 16px/19px 'Proxima Nova';
  left: 41.67%;
  letter-spacing: 0.9px;
  position: absolute;
  top: 11px;
}
body #wrapper #container header img {
  position: absolute;
  left: 1071px;
  top: 14px;
}
body #wrapper #container header .contact_number {
  color: #05AAE1;
  position: absolute;
  right: 235px;
  top: 8px;
}
body #wrapper #container header button {
  background-color: #272634;
  border: solid 1px #05AAE1;
  color: #FFFFFF;
  height: 36px;
  position: absolute;
  right: 39px;
  top: 3px;
  width: 120px;
}
body #wrapper #container #sub_header {
  background-color: #1D1F21;
  height: 56px;
  position: relative;
}
body #wrapper #container #sub_header img {
  position: absolute;
  left: 30px;
  top: 13px;
}
body #wrapper #container #sub_header ul {
  margin: 15px 0px 0px 309px;
  padding-left: 0px;
  position: absolute;
}
body #wrapper #container #sub_header ul li {
  display: inline-block;
  list-style: none;
  padding-right: 61px;
}
body #wrapper #container #sub_header ul li span {
  color: #FFFFFF;
  font: normal 700 16px 'Proxima Nova';
  letter-spacing: 0.6px;
}
body #wrapper #container #sub_header button {
  background: #05AAE1;
  border: 0px;
  border-radius: 2px;
  color: #FFFFFF;
  font: normal 700 16px 'Proxima Nova';
  height: 36px;
  position: absolute;
  right: 39px;
  top: 10px;
  width: 120px;
}
body #wrapper #container #splash {
  height: 484px;
  width: 1440px;
  position: relative;
  background-image: url("../../image/financing_101_banner.png");
}
body #wrapper #container #splash h1 {
  color: #FFFFFF;
  font: normal normal 700 64px/115.2% 'Proxima Nova';
  left: 142px;
  line-height: 115.2%;
  position: absolute;
  top: 128px;
  width: 505px;
}
body #wrapper #container #splash p {
  color: #FFFFFF;
  font: normal normal 400 18px/22px 'Proxima Nova';
  left: 144px;
  letter-spacing: 0.6px;
  position: absolute;
  top: 284px;
  width: 480px;
}
body #wrapper #container #funding_methods {
  background-color: #F8FAFF;
  height: 1085px;
  padding-left: 144px;
}
body #wrapper #container #funding_methods h1 {
  color: #333333;
  font: normal normal 700 40px/48px 'Proxima Nova';
  padding: 81px 0px 21px 0px;
  width: 600px;
}
body #wrapper #container #funding_methods ul {
  list-style: none;
  padding-left: 0px;
}
body #wrapper #container #funding_methods ul li {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  margin-bottom: 18px;
  padding: 49px 0px 21px 0px;
  position: relative;
  width: 678px;
}
body #wrapper #container #funding_methods ul li .left_image {
  left: 32px;
  position: absolute;
  top: 23px;
}
body #wrapper #container #funding_methods ul li h4 {
  color: #333333;
  font: normal normal 700 22px/11px 'Proxima Nova';
  padding: 0px 0px 0px 163px;
}
body #wrapper #container #funding_methods ul li p {
  color: #333333;
  font: normal normal 400 18px/26px 'Proxima Nova';
  padding: 0px 0px 0px 163px;
}
body #wrapper #container #funding_methods ul li .right_image {
  position: absolute;
  right: 42px;
  top: 53px;
}
body #wrapper #container #funding_methods ul li .first_paragraph {
  font: normal normal 400 16px/24px 'Proxima Nova';
  margin-bottom: 8px;
  padding: 11px 0px 0px 45px;
  width: 564px;
}
body #wrapper #container #funding_methods ul li .second_paragraph {
  font: normal normal 400 14px/20px 'Proxima Nova';
  padding-left: 45px;
  width: 564px;
}
body #wrapper #container #gauge_your_potencial_savings {
  background-color: #505170;
  height: 463px;
  padding-left: 144px;
  position: relative;
}
body #wrapper #container #gauge_your_potencial_savings h1 {
  color: #FFFFFF;
  font: normal normal 700 40px/48px 'Proxima Nova';
  margin: 0px;
  padding: 64px 0px 38px 0px;
  width: 600px;
}
body #wrapper #container #gauge_your_potencial_savings ul {
  padding-left: 0px;
}
body #wrapper #container #gauge_your_potencial_savings ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  vertical-align: top;
}
body #wrapper #container #gauge_your_potencial_savings ul li h5 {
  color: #FFFFFF;
  font: normal normal 700 14px/14px 'Proxima Nova';
  letter-spacing: 0.6px;
  text-align: center;
}
body #wrapper #container #gauge_your_potencial_savings ul li div {
  background-color: #05AAE1;
  color: #FFFFFF;
  font: normal normal 700 14px/14px 'Proxima Nova';
  height: 41px;
  letter-spacing: 0.6px;
  padding-top: 14px;
  text-align: center;
  width: 130px;
}
body #wrapper #container #gauge_your_potencial_savings ul li .border_radius {
  border-radius: 0px 20px 20px 0px;
  background-color: #05AAE1;
  color: #FFFFFF;
  font: normal normal 700 14px/14px 'Proxima Nova';
  height: 41px;
  letter-spacing: 0.6px;
  width: 130px;
}
body #wrapper #container #gauge_your_potencial_savings ul li p {
  color: #FFFFFF;
  font: normal normal 50 12px/15px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding-top: 23px;
  width: 121.5px;
}
body #wrapper #container #gauge_your_potencial_savings ul li p .underline {
  text-decoration: underline;
}
body #wrapper #container #gauge_your_potencial_savings ul .youve_saved {
  width: 60px;
}
body #wrapper #container #gauge_your_potencial_savings ul .youve_saved h1 {
  color: #FFFFFF;
  font: normal normal 400 18px/21.92px 'Proxima Nova';
  padding: 10px 0px 0px 28px;
}
body #wrapper #container #gauge_your_potencial_savings ul .youve_saved span {
  color: #FFFFFF;
  font: normal normal 700 26px/26px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding-left: 28px;
}
body #wrapper #container #gauge_your_potencial_savings p {
  color: #FFFFFF;
  font: normal normal 50 10px/12.18px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 538.68px;
}
body #wrapper #container #gauge_your_potencial_savings img {
  text-align: center;
  right: 616px;
  position: absolute;
  bottom: -8px;
}
body #wrapper #container #how_to_fund {
  background-color: #FFFFFF;
  height: 500px;
  padding-left: 144px;
}
body #wrapper #container #how_to_fund h1 {
  color: #333333;
  font: normal normal 700 40px/40px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin: 0px;
  padding: 74px 0px 69px 0px;
  width: 600px;
}
body #wrapper #container #how_to_fund p {
  color: #333333;
  display: inline-block;
  font: normal normal 400 18px/150% 'Proxima Nova';
  width: 248px;
}
body #wrapper #container #how_to_fund ul {
  display: inline-block;
}
body #wrapper #container #how_to_fund ul li {
  list-style: none;
}
body #wrapper #container #when_should_you_start {
  background-color: #505170;
  height: 1280px;
  padding-left: 144px;
}
body #wrapper #container #when_should_you_start h1 {
  color: #FFFFFF;
  font: normal normal 700 40px/40px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin: 0px;
  padding: 82px 0px 36px 0px;
  width: 559px;
}
body #wrapper #container #when_should_you_start p {
  color: #FFFFFF;
  font: normal normal 400 18px/27px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 612px;
}
body #wrapper #container #when_should_you_start ul {
  padding-left: 0px;
}
body #wrapper #container #when_should_you_start ul li {
  list-style: none;
  position: relative;
}
body #wrapper #container #when_should_you_start ul li img {
  left: 0px;
  position: absolute;
  top: 36px;
}
body #wrapper #container #when_should_you_start ul li h5 {
  color: #FFFFFF;
  font: normal normal 700 20px/20px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding: 60px 0px 7px 236px;
}
body #wrapper #container #when_should_you_start ul li p {
  color: #FFFFFF;
  font: normal normal 200 18px/150% 'Proxima Nova';
  letter-spacing: 0.6px;
  padding-left: 236px;
  width: 608px;
}
body #wrapper #container #get_hired {
  background-color: #F8FAFF;
  height: 393px;
  padding-left: 144px;
}
body #wrapper #container #get_hired h1 {
  font: normal normal 700 40px/40px 'Proxima Nova';
  padding: 91px 0px 48px 0px;
}
body #wrapper #container #get_hired ul {
  padding-left: 0px;
}
body #wrapper #container #get_hired ul li {
  list-style: none;
}
body #wrapper #container #get_hired ul li img {
  padding: 0px 46px 39px 0px;
}
body #wrapper #container #quote {
  background-color: #FFFFFF;
  height: 393px;
  padding-left: 144px;
  width: 500px;
  position: relative;
}
body #wrapper #container #quote img {
  color: #FFFFFF;
  left: 383px;
  position: absolute;
  top: 139px;
}
body #wrapper #container #quote div .quote {
  color: #333333;
  font: normal normal 400 31px/38px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding: 74px 0px 0px 20px;
}
body #wrapper #container #quote div .box {
  background-color: #C4C4C4;
  border-radius: 8px;
  display: inline-block;
  height: 56px;
  width: 49px;
}
body #wrapper #container #quote div div {
  display: inline-block;
}
body #wrapper #container #quote div div .name {
  color: #333333;
  font: normal normal 700 19px/19px 'Proxima Nova';
  line-height: 19px;
}
body #wrapper #container #quote div div p {
  color: #333333;
  font: normal normal 400 16px/140% 'Proxima Nova';
  line-height: 19px;
  padding: 0px 0px 0px 0px;
}
body #wrapper #container #faqs {
  background-color: #F8FAFF;
  height: 870px;
  padding: 72px 0px 0px 144px;
}
body #wrapper #container #faqs h1 {
  color: #333333;
  font: normal normal 700 32px/48px 'Proxima Nova';
  margin: 0px;
  width: 600px;
}
body #wrapper #container #faqs ul {
  list-style: none;
  padding: 38px 0px 0px 0px;
}
body #wrapper #container #faqs ul .question1 {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  margin-bottom: 18px;
  padding: 40px 0px 40px 90px;
  position: relative;
  width: 678px;
}
body #wrapper #container #faqs ul .question1 h4 {
  color: #2C393E;
  font: normal normal 700 22px/20px 'Proxima Nova';
  margin: 0px;
}
body #wrapper #container #faqs ul .question1 .right_image {
  position: absolute;
  right: 42px;
  top: 30px;
}
body #wrapper #container #faqs ul .question1 p {
  font: normal normal 400 16px/143.9% 'Proxima Nova';
  letter-spacing: 0.6px;
  padding: 17px 0px 0px 5px;
  width: 506px;
}
body #wrapper #container #faqs ul li {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  margin-bottom: 18px;
  padding: 37px 0px 34px 90px;
  position: relative;
  width: 678px;
}
body #wrapper #container #faqs ul li h4 {
  color: #2C393E;
  font: normal normal 700 22px/20px 'Proxima Nova';
  margin: 0px;
}
body #wrapper #container #faqs ul li .right_image {
  position: absolute;
  right: 42px;
  top: 30px;
}
body #wrapper #container #faqs ul li p {
  font: normal normal 400 16px/143.9% 'Proxima Nova';
  letter-spacing: 0.6px;
  padding: 17px 0px 0px 5px;
  width: 506px;
}
body #wrapper #container footer {
  background-color: #1E1E29;
  height: 433.21px;
}
