body #wrapper header #header {
  background-color: #272634;
  height: 42px;
  padding: 3px;
  width: 100%;
}
body #wrapper header #header #header_container {
  margin: 0px auto;
  max-width: 1371px;
  position: relative;
  text-align: center;
}
body #wrapper header #header #header_container p {
  color: #FFFFFF;
  display: inline-block;
  font: normal 400 16px/19px 'Proxima Nova';
  padding-top: 8px;
  margin: 0px;
}
body #wrapper header #header #header_container img {
  display: inline-block;
  padding-top: 10px;
  position: absolute;
  right: 312px;
}
body #wrapper header #header #header_container span {
  color: #05AAE1;
  font: normal 400 16px/19px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding-top: 8px;
  position: absolute;
  right: 184px;
}
body #wrapper header #header #header_container .talk_to_us_btn {
  background-color: #272634;
  border: solid 1px #05AAE1;
  color: #FFFFFF;
  font: normal 400 16px/19px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding: 7px;
  position: absolute;
  right: 0px;
  text-align: center;
  width: 120px;
}
body #wrapper header #main_navigation_header {
  background-color: #1D1F21;
  width: 100%;
}
body #wrapper header #main_navigation_header #main_navigation_header_containter {
  height: 56px;
  margin: 0px auto;
  max-width: 1371px;
  position: relative;
}
body #wrapper header #main_navigation_header #main_navigation_header_containter ul {
  margin: 0px;
  padding-left: 0px;
  position: relative;
}
body #wrapper header #main_navigation_header #main_navigation_header_containter ul #cd_logo {
  width: 304px;
}
body #wrapper header #main_navigation_header #main_navigation_header_containter ul li {
  display: inline-block;
  padding: 14px 29px 0px 0px;
}
body #wrapper header #main_navigation_header #main_navigation_header_containter ul li a {
  color: #FFFFFF;
  font: normal 700 16px/19px 'Proxima Nova';
  letter-spacing: 0.430769px;
  text-decoration: none;
}
body #wrapper header #main_navigation_header #main_navigation_header_containter ul li a .show_more_icon {
  background-image: url("../../image/icon/Line_10.png");
  display: inline-block;
  height: 6px;
  margin: 0px 0px 1px 5px;
  width: 12px;
}
body #wrapper header #main_navigation_header #main_navigation_header_containter ul li a img {
  padding-left: 5px;
}
body #wrapper header #main_navigation_header #main_navigation_header_containter ul li .apply_btn {
  background-color: #05AAE1;
  border-radius: 2px;
  border: 0px;
  color: #FFFFFF;
  font: normal 700 16px/19px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding: 7px;
  position: absolute;
  right: 0px;
  top: 10px;
  width: 120px;
}
body #wrapper #splash_section #splash_container {
  height: 485px;
  margin: 0px auto;
  max-width: 1151px;
  padding-top: 127px;
}
body #wrapper #splash_section #splash_container h1 {
  font: normal 700 64px/115.2% 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 575px;
  margin: 0px;
  padding-bottom: 12px;
}
body #wrapper #splash_section #splash_container p {
  color: #1D1F21;
  font: normal 400 18px/22px 'Proxima Nova';
  line-height: 22px;
  width: 456px;
}
body #wrapper #the_most_popular_section {
  background-color: #F8FAFF;
}
body #wrapper #the_most_popular_section #the_most_popular_container {
  margin: 0px auto;
  max-width: 1151px;
  padding: 90px 0px 90px 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container h3 {
  color: #333333;
  font: normal 700 40px/49px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 678px;
  margin: 0px;
  padding-bottom: 52px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #pay_in_full_accordion {
  width: 678px;
  margin-bottom: 18px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #pay_in_full_accordion .card {
  border: 0px;
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  border-radius: 2px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #pay_in_full_accordion .card #pay_in_full_accordion_header {
  background-color: #FFFFFF;
  padding: 39px 28px 39px 28px;
  position: relative;
  border: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #pay_in_full_accordion .card #pay_in_full_accordion_header .mb-0 button {
  display: block;
  padding: 0px 0px 0px 134px;
  text-decoration: none;
}
body #wrapper #the_most_popular_section #the_most_popular_container #pay_in_full_accordion .card #pay_in_full_accordion_header .mb-0 button img {
  position: absolute;
  left: 29px;
  top: 22px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #pay_in_full_accordion .card #pay_in_full_accordion_header .mb-0 button h4 {
  color: #333333;
  font: normal 700 22px/27px 'Proxima Nova';
  padding-top: 0px;
  width: 474px;
  margin: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #pay_in_full_accordion .card #pay_in_full_accordion_header .mb-0 button p {
  color: #333333;
  font: normal 400px 18px/26px 'Proxima Nova';
  line-height: 26px;
  margin: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #pay_in_full_accordion .card #pay_in_full_accordion_header .mb-0 button .arrowdown_icon {
  background-image: url("../../image/icon/arrow-down-1.png");
  width: 25px;
  height: 22px;
  display: block;
  position: absolute;
  right: 47px;
  top: 53px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #installment_plan_accordion {
  margin-bottom: 18px;
  width: 678px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #installment_plan_accordion .card {
  border: 0px;
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  border-radius: 2px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #installment_plan_accordion .card #installment_plan_accordion_header {
  background-color: #FFFFFF;
  padding: 39px 28px 39px 28px;
  position: relative;
  border: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #installment_plan_accordion .card #installment_plan_accordion_header .mb-0 button {
  display: block;
  padding: 0px 0px 0px 134px;
  text-decoration: none;
}
body #wrapper #the_most_popular_section #the_most_popular_container #installment_plan_accordion .card #installment_plan_accordion_header .mb-0 button img {
  position: absolute;
  left: 29px;
  top: 22px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #installment_plan_accordion .card #installment_plan_accordion_header .mb-0 button h4 {
  color: #333333;
  font: normal 700 22px/27px 'Proxima Nova';
  padding-top: 0px;
  width: 474px;
  margin: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #installment_plan_accordion .card #installment_plan_accordion_header .mb-0 button p {
  color: #333333;
  font: normal 400px 18px/26px 'Proxima Nova';
  line-height: 26px;
  margin: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #installment_plan_accordion .card #installment_plan_accordion_header .mb-0 button .arrowdown_icon {
  background-image: url("../../image/icon/arrow-down-1.png");
  width: 25px;
  height: 22px;
  display: block;
  position: absolute;
  right: 47px;
  top: 53px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #ascent_accordion {
  margin-bottom: 18px;
  width: 678px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #ascent_accordion .card {
  border: 0px;
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  border-radius: 2px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #ascent_accordion .card #ascent_accordion_header {
  background-color: #FFFFFF;
  padding: 39px 28px 39px 28px;
  position: relative;
  border: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #ascent_accordion .card #ascent_accordion_header .mb-0 button {
  display: block;
  padding: 0px 0px 0px 134px;
  text-decoration: none;
}
body #wrapper #the_most_popular_section #the_most_popular_container #ascent_accordion .card #ascent_accordion_header .mb-0 button img {
  position: absolute;
  left: 29px;
  top: 22px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #ascent_accordion .card #ascent_accordion_header .mb-0 button h4 {
  color: #333333;
  font: normal 700 22px/27px 'Proxima Nova';
  padding-top: 0px;
  width: 474px;
  margin: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #ascent_accordion .card #ascent_accordion_header .mb-0 button p {
  color: #333333;
  font: normal 400px 18px/26px 'Proxima Nova';
  line-height: 26px;
  margin: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #ascent_accordion .card #ascent_accordion_header .mb-0 button .card-body {
  padding: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #ascent_accordion .card #ascent_accordion_header .mb-0 button .card-body .apply_for {
  font: normal normal 400 16px/24px 'Proxima Nova';
  margin-bottom: 8px;
  width: 564px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #ascent_accordion .card #ascent_accordion_header .mb-0 button .card-body .hard_credit {
  font: normal normal 400 14px/20px 'Proxima Nova';
  padding-left: 45px;
  width: 564px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #ascent_accordion .card #ascent_accordion_header .mb-0 button .arrowdown_icon {
  background-image: url("../../image/icon/arrow-down-1.png");
  width: 25px;
  height: 22px;
  display: block;
  position: absolute;
  right: 47px;
  top: 53px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #climb_credit_accordion {
  margin-bottom: 18px;
  width: 678px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #climb_credit_accordion .card {
  border: 0px;
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  border-radius: 2px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #climb_credit_accordion .card #climb_credit_header {
  background-color: #FFFFFF;
  padding: 39px 28px 39px 28px;
  position: relative;
  border: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #climb_credit_accordion .card #climb_credit_header .mb-0 button {
  display: block;
  padding: 0px 0px 0px 134px;
  text-decoration: none;
}
body #wrapper #the_most_popular_section #the_most_popular_container #climb_credit_accordion .card #climb_credit_header .mb-0 button img {
  position: absolute;
  left: 29px;
  top: 22px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #climb_credit_accordion .card #climb_credit_header .mb-0 button h4 {
  color: #333333;
  font: normal 700 22px/27px 'Proxima Nova';
  padding-top: 0px;
  width: 474px;
  margin: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #climb_credit_accordion .card #climb_credit_header .mb-0 button p {
  color: #333333;
  font: normal 400px 18px/26px 'Proxima Nova';
  line-height: 26px;
  margin: 0px;
}
body #wrapper #the_most_popular_section #the_most_popular_container #climb_credit_accordion .card #climb_credit_header .mb-0 button .arrowdown_icon {
  background-image: url("../../image/icon/arrow-down-1.png");
  width: 25px;
  height: 22px;
  display: block;
  position: absolute;
  right: 47px;
  top: 53px;
}
body #wrapper #gauge_your_potential_savings {
  background-color: #505170;
}
body #wrapper #gauge_your_potential_savings #gauge_container {
  margin: 0px auto;
  max-width: 1151px;
  padding: 63px 0px 38px 0px;
}
body #wrapper #gauge_your_potential_savings #gauge_container h3 {
  color: #FFFFFF;
  font: normal 700 40px/49px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin: 0px;
  padding-bottom: 38px;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul {
  margin-bottom: 50px;
  padding: 0px;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  vertical-align: top;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul li h5 {
  color: #FFFFFF;
  font: normal normal 700 14px/17px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin: 0px;
  padding-bottom: 10px;
  text-align: center;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul li #btn_early {
  background-color: #05AAE1;
  border-radius: 20px 0px 0px 20px;
  border: 0px;
  color: #FFFFFF;
  font: normal normal 700 14px/14px 'Proxima Nova';
  height: 41px;
  letter-spacing: 0.6px;
  padding-left: 12px;
  text-align: center;
  width: 130px;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul li #btn_early .blue_circle {
  background-color: #05AAE1;
  border-radius: 25px;
  display: inline-block;
  height: 50.5px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 50.5px;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul li button,
body #wrapper #gauge_your_potential_savings #gauge_container ul li .savings_btn {
  background-color: #05AAE1;
  border: 0px;
  color: #FFFFFF;
  font: normal normal 700 14px/14px 'Proxima Nova';
  height: 41px;
  letter-spacing: 0.6px;
  text-align: center;
  width: 130px;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul li button:hover,
body #wrapper #gauge_your_potential_savings #gauge_container ul li .savings_btn:hover {
  opacity: 0.8;
  transition: 0.5s;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul li button:hover {
  opacity: 0.8;
  transition: 0.5s;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul li #btn_border_radius {
  border-radius: 0px 20px 20px 0px;
  background-color: #05AAE1;
  color: #FFFFFF;
  font: normal normal 700 14px/14px 'Proxima Nova';
  height: 41px;
  letter-spacing: 0.6px;
  width: 130px;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul li p {
  color: #FFFFFF;
  font: normal 50 12px/12px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding-top: 22px;
  width: 121.5px;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul li p .underline {
  text-decoration: underline;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul .youve_saved {
  padding: 8px 0px 0px 24px;
  text-align: center;
  width: 145px;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul .youve_saved h3 {
  color: #FFFFFF;
  font: normal normal 400 18px/18px 'Proxima Nova';
  padding: 0px 0px 6px 0px;
}
body #wrapper #gauge_your_potential_savings #gauge_container ul .youve_saved span {
  color: #FFFFFF;
  font: normal normal 700 26px/32px 'Proxima Nova';
  letter-spacing: 0.6px;
  text-align: center;
}
body #wrapper #gauge_your_potential_savings #gauge_container p {
  color: #FFFFFF;
  font: normal normal 50 10px/12.18px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 538.68px;
  margin: 0px;
}
body #wrapper #how_to_fund_section {
  background-color: #FFFFFF;
}
body #wrapper #how_to_fund_section #how_to_fund_container {
  margin: 0px auto;
  max-width: 1151px;
  padding: 63px 0px 38px 0px;
}
body #wrapper #how_to_fund_section #how_to_fund_container h3 {
  color: #333333;
  font: normal 700 40px/49px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin: 0px;
  padding-bottom: 19px;
}
body #wrapper #how_to_fund_section #how_to_fund_container p {
  color: #333333;
  display: inline-block;
  font: normal 400 18px/150% 'Proxima Nova';
  margin: 0px 46px 0px 0px;
  padding-top: 51px;
  vertical-align: top;
  width: 250px;
}
body #wrapper #how_to_fund_section #how_to_fund_container .table-striped {
  display: inline-block;
  margin-right: 47px;
  vertical-align: top;
  width: 292.28px;
}
body #wrapper #how_to_fund_section #how_to_fund_container .table-striped thead {
  border: 0px;
}
body #wrapper #how_to_fund_section #how_to_fund_container .table-striped thead tr th {
  border: 0px;
  color: #333333;
  font: normal 700 16px/140% 'Proxima Nova';
  text-align: center;
  width: 150px;
}
body #wrapper #how_to_fund_section #how_to_fund_container .table-striped tbody {
  height: 62px;
}
body #wrapper #how_to_fund_section #how_to_fund_container .table-striped tbody tr .fund_method {
  border: 0px;
  font: normal 400 16px/231% 'Proxima Nova';
  text-align: left;
}
body #wrapper #how_to_fund_section #how_to_fund_container .table-striped tbody tr .fund_status {
  border: 0px;
  font: normal 400 12px/129% 'Proxima Nova';
  text-align: center;
}
body #wrapper #when_should_section {
  background-color: #505170;
}
body #wrapper #when_should_section #when_should_container {
  margin: 0px auto;
  max-width: 1151px;
  padding: 78px 0px 49px 0px;
}
body #wrapper #when_should_section #when_should_container h3 {
  color: #FFFFFF;
  font: normal 700 40px/49px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 559px;
  margin: 0px;
}
body #wrapper #when_should_section #when_should_container p {
  color: #FFFFFF;
  font: normal 50 18px/150% 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 612px;
  margin: 0px;
  padding: 30px 0px 53px 0px;
}
body #wrapper #when_should_section #when_should_container ul {
  padding: 0px 0px 27px 0px;
  margin: 0px;
}
body #wrapper #when_should_section #when_should_container ul .thinking_about_funds_images {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 191px;
}
body #wrapper #when_should_section #when_should_container ul .thinking_about_funds_content {
  display: inline-block;
  padding: 15px 0px 0px 41px;
  vertical-align: top;
  width: 300px;
}
body #wrapper #when_should_section #when_should_container ul .thinking_about_funds_content h3 {
  color: #FFFFFF;
  font: normal 700 20px/24px 'Proxima Nova';
  letter-spacing: 0.6px;
  padding-bottom: 12px;
}
body #wrapper #when_should_section #when_should_container ul .thinking_about_funds_content p {
  color: #FFFFFF;
  font: normal 50 18px/150% 'Proxima Nova';
  letter-spacing: 0.6px;
  padding: 0px;
  width: 406px;
}
body #wrapper #get_hired_section {
  background-color: #F8FAFF;
}
body #wrapper #get_hired_section #get_hired_container {
  margin: 0px auto;
  max-width: 1151px;
  padding: 89px 0px 62px 0px;
}
body #wrapper #get_hired_section #get_hired_container h3 {
  color: #333333;
  font: normal 700 40px/49px 'Proxima Nova';
  letter-spacing: 0.6px;
  margin: 0px;
  padding-bottom: 45px;
}
body #wrapper #get_hired_section #get_hired_container #top_companies_table {
  margin: 0px;
  width: 678px;
}
body #wrapper #get_hired_section #get_hired_container #top_companies_table tbody tr {
  height: 74px;
}
body #wrapper #get_hired_section #get_hired_container #top_companies_table tbody tr td {
  width: 200px;
}
body #wrapper #quote_section {
  background-color: #FFFFFF;
}
body #wrapper #quote_section #quote_container {
  margin: 0px auto;
  max-width: 1113px;
  padding: 78px 0px 58px 0px;
  position: relative;
}
body #wrapper #quote_section #quote_container #quote_background {
  background-image: url("../../image/quotation_mark.png");
  height: 79.57px;
  left: 220px;
  position: absolute;
  top: 139px;
  width: 122.12px;
}
body #wrapper #quote_section #quote_container p {
  color: #333333;
  font: normal 400 31px/31px 'Proxima Nova';
  letter-spacing: 0.6px;
  width: 676px;
  margin: 0px;
}
body #wrapper #quote_section #quote_container ul {
  padding: 48px 0px 0px 0px;
  margin: 0px;
}
body #wrapper #quote_section #quote_container ul li {
  display: inline-block;
  padding-right: 12px;
  vertical-align: top;
}
body #wrapper #quote_section #quote_container ul li span {
  background-color: #C4C4C4;
  border-radius: 8px;
  display: inline-block;
  height: 56px;
  width: 49px;
}
body #wrapper #quote_section #quote_container ul li h3 {
  color: #333333;
  font: normal 700 19px/23px 'Proxima Nova';
  line-height: 23px;
  margin: 0px;
}
body #wrapper #quote_section #quote_container ul li p {
  color: #333333;
  font: normal 400 16px/140% 'Proxima Nova';
  line-height: 27px;
  margin: 0px;
}
body #wrapper #faq_section {
  background-color: #F8FAFF;
}
body #wrapper #faq_section #faq_container {
  margin: 0px auto;
  max-width: 1151px;
  padding: 78px 0px 90px 0px;
}
body #wrapper #faq_section #faq_container h3 {
  color: #333333;
  font: normal 700 32px/39px 'Proxima Nova';
  letter-spacing: 0.6px;
}
body #wrapper #faq_section #faq_container #question_one_accordion {
  width: 678px;
  margin-bottom: 18px;
}
body #wrapper #faq_section #faq_container #question_one_accordion .card {
  border: 0px;
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  border-radius: 2px;
}
body #wrapper #faq_section #faq_container #question_one_accordion .card #question_one_accordion_header {
  background-color: #FFFFFF;
  padding: 0px;
  position: relative;
  border: 0px;
}
body #wrapper #faq_section #faq_container #question_one_accordion .card #question_one_accordion_header .mb-0 button {
  display: block;
  text-decoration: none;
  padding: 33px 0px 33px 64px;
}
body #wrapper #faq_section #faq_container #question_one_accordion .card #question_one_accordion_header .mb-0 button h4 {
  color: #2C393E;
  font: normal 700 20px/24px 'Proxima Nova';
  padding-top: 0px;
  width: 474px;
  margin: 0px;
}
body #wrapper #faq_section #faq_container #question_one_accordion .card #question_one_accordion_header .mb-0 button .arrowdown_icon {
  background-image: url("../../image/icon/arrow-down-1.png");
  width: 25px;
  height: 22px;
  display: block;
  position: absolute;
  right: 33px;
  top: 30px;
}
body #wrapper #faq_section #faq_container #question_one_accordion .card #question_one_custom_content .card-body {
  padding: 0px 0px 56px 69px;
  width: 505.98px;
  margin: 0px;
}
body #wrapper #faq_section #faq_container #question_two_accordion {
  width: 678px;
  margin-bottom: 18px;
}
body #wrapper #faq_section #faq_container #question_two_accordion .card {
  border: 0px;
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  border-radius: 2px;
}
body #wrapper #faq_section #faq_container #question_two_accordion .card #question_two_accordion_header {
  background-color: #FFFFFF;
  padding: 0px;
  position: relative;
  border: 0px;
}
body #wrapper #faq_section #faq_container #question_two_accordion .card #question_two_accordion_header .mb-0 button {
  display: block;
  text-decoration: none;
  padding: 33px 0px 33px 64px;
}
body #wrapper #faq_section #faq_container #question_two_accordion .card #question_two_accordion_header .mb-0 button h4 {
  color: #2C393E;
  font: normal 700 20px/24px 'Proxima Nova';
  padding-top: 0px;
  width: 474px;
  margin: 0px;
}
body #wrapper #faq_section #faq_container #question_two_accordion .card #question_two_accordion_header .mb-0 button .arrowdown_icon {
  background-image: url("../../image/icon/arrow-down-1.png");
  width: 25px;
  height: 22px;
  display: block;
  position: absolute;
  right: 33px;
  top: 30px;
}
body #wrapper #faq_section #faq_container #question_two_accordion .card #question_two_custom_content .card-body {
  padding: 0px 0px 56px 69px;
  width: 505.98px;
  margin: 0px;
}
body #wrapper #faq_section #faq_container #question_three_accordion {
  width: 678px;
  margin-bottom: 18px;
}
body #wrapper #faq_section #faq_container #question_three_accordion .card {
  border: 0px;
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  border-radius: 2px;
}
body #wrapper #faq_section #faq_container #question_three_accordion .card #question_three_accordion_header {
  background-color: #FFFFFF;
  padding: 0px;
  position: relative;
  border: 0px;
}
body #wrapper #faq_section #faq_container #question_three_accordion .card #question_three_accordion_header .mb-0 button {
  display: block;
  text-decoration: none;
  padding: 33px 0px 33px 64px;
}
body #wrapper #faq_section #faq_container #question_three_accordion .card #question_three_accordion_header .mb-0 button h4 {
  color: #2C393E;
  font: normal 700 20px/24px 'Proxima Nova';
  padding-top: 0px;
  width: 474px;
  margin: 0px;
}
body #wrapper #faq_section #faq_container #question_three_accordion .card #question_three_accordion_header .mb-0 button .arrowdown_icon {
  background-image: url("../../image/icon/arrow-down-1.png");
  width: 25px;
  height: 22px;
  display: block;
  position: absolute;
  right: 33px;
  top: 30px;
}
body #wrapper #faq_section #faq_container #question_three_accordion .card #question_three_custom_content .card-body {
  padding: 0px 0px 56px 69px;
  width: 505.98px;
  margin: 0px;
}
body #wrapper #faq_section #faq_container #question_four_accordion {
  width: 678px;
  margin-bottom: 18px;
}
body #wrapper #faq_section #faq_container #question_four_accordion .card {
  border: 0px;
  box-shadow: 0px 6px 8px rgba(42, 104, 129, 0.06);
  border-radius: 2px;
}
body #wrapper #faq_section #faq_container #question_four_accordion .card #question_four_accordion_header {
  background-color: #FFFFFF;
  padding: 0px;
  position: relative;
  border: 0px;
}
body #wrapper #faq_section #faq_container #question_four_accordion .card #question_four_accordion_header .mb-0 button {
  display: block;
  text-decoration: none;
  padding: 33px 0px 33px 64px;
}
body #wrapper #faq_section #faq_container #question_four_accordion .card #question_four_accordion_header .mb-0 button h4 {
  color: #2C393E;
  font: normal 700 20px/24px 'Proxima Nova';
  padding-top: 0px;
  width: 474px;
  margin: 0px;
}
body #wrapper #faq_section #faq_container #question_four_accordion .card #question_four_accordion_header .mb-0 button .arrowdown_icon {
  background-image: url("../../image/icon/arrow-down-1.png");
  width: 25px;
  height: 22px;
  display: block;
  position: absolute;
  right: 33px;
  top: 30px;
}
body #wrapper #faq_section #faq_container #question_four_accordion .card #question_four_custom_content .card-body {
  padding: 0px 0px 56px 69px;
  width: 505.98px;
  margin: 0px;
}
body #wrapper footer {
  background-color: #1E1E29;
}
body #wrapper footer #footer_container {
  margin: 0px auto;
  max-width: 1150px;
  padding: 69px 0px 69px 0px;
}
body #wrapper footer #footer_container #list_signup_division #list_div ul {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  padding: 0px 38px 0px 0px;
  margin: 0px;
}
body #wrapper footer #footer_container #list_signup_division #list_div ul .title_list {
  color: #FFFFFF;
  font: normal 700 12px/30px 'Proxima Nova';
  text-transform: uppercase;
  width: 133.69px;
}
body #wrapper footer #footer_container #list_signup_division #list_div ul .title_list:hover {
  color: #FFFFFF;
  opacity: 0.8;
  transition: 0.35s;
}
body #wrapper footer #footer_container #list_signup_division #list_div ul li {
  color: #FFFFFF;
  font: normal 50 14px/24px 'Proxima Nova';
  width: 144px;
}
body #wrapper footer #footer_container #list_signup_division #list_div ul li:hover {
  color: #05A9E1;
  opacity: 0.8;
  transition: 0.35s;
}
